<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Gifticano.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>0</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>9D923059F05BF72D134F2E896222094A5ABB2354</string>
				<key>dateExpires</key>
				<string>2023/03/27</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9D923059F05BF72D134F2E896222094A5ABB2354</string>
						<key>dateExpires</key>
						<string>2023/03/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>293G939DG3</string>
						<key>name</key>
						<string>Seunghyun Bae</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9D923059F05BF72D134F2E896222094A5ABB2354</string>
						<key>dateExpires</key>
						<string>2023/03/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>AppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>293G939DG3</string>
						<key>name</key>
						<string>Seunghyun Bae</string>
					</dict>
					<key>versionNumber</key>
					<string>1.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9D923059F05BF72D134F2E896222094A5ABB2354</string>
						<key>dateExpires</key>
						<string>2023/03/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>293G939DG3</string>
						<key>name</key>
						<string>Seunghyun Bae</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9D923059F05BF72D134F2E896222094A5ABB2354</string>
						<key>dateExpires</key>
						<string>2023/03/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FMDB.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>293G939DG3</string>
						<key>name</key>
						<string>Seunghyun Bae</string>
					</dict>
					<key>versionNumber</key>
					<string>2.7.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9D923059F05BF72D134F2E896222094A5ABB2354</string>
						<key>dateExpires</key>
						<string>2023/03/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>293G939DG3</string>
						<key>name</key>
						<string>Seunghyun Bae</string>
					</dict>
					<key>versionNumber</key>
					<string>8.11.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9D923059F05BF72D134F2E896222094A5ABB2354</string>
						<key>dateExpires</key>
						<string>2023/03/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>293G939DG3</string>
						<key>name</key>
						<string>Seunghyun Bae</string>
					</dict>
					<key>versionNumber</key>
					<string>8.11.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9D923059F05BF72D134F2E896222094A5ABB2354</string>
						<key>dateExpires</key>
						<string>2023/03/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreDiagnostics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>293G939DG3</string>
						<key>name</key>
						<string>Seunghyun Bae</string>
					</dict>
					<key>versionNumber</key>
					<string>8.14.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9D923059F05BF72D134F2E896222094A5ABB2354</string>
						<key>dateExpires</key>
						<string>2023/03/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseDynamicLinks.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>293G939DG3</string>
						<key>name</key>
						<string>Seunghyun Bae</string>
					</dict>
					<key>versionNumber</key>
					<string>8.11.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9D923059F05BF72D134F2E896222094A5ABB2354</string>
						<key>dateExpires</key>
						<string>2023/03/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseFirestore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>293G939DG3</string>
						<key>name</key>
						<string>Seunghyun Bae</string>
					</dict>
					<key>versionNumber</key>
					<string>8.11.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9D923059F05BF72D134F2E896222094A5ABB2354</string>
						<key>dateExpires</key>
						<string>2023/03/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>293G939DG3</string>
						<key>name</key>
						<string>Seunghyun Bae</string>
					</dict>
					<key>versionNumber</key>
					<string>8.14.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9D923059F05BF72D134F2E896222094A5ABB2354</string>
						<key>dateExpires</key>
						<string>2023/03/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>293G939DG3</string>
						<key>name</key>
						<string>Seunghyun Bae</string>
					</dict>
					<key>versionNumber</key>
					<string>8.11.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9D923059F05BF72D134F2E896222094A5ABB2354</string>
						<key>dateExpires</key>
						<string>2023/03/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseStorage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>293G939DG3</string>
						<key>name</key>
						<string>Seunghyun Bae</string>
					</dict>
					<key>versionNumber</key>
					<string>8.11.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9D923059F05BF72D134F2E896222094A5ABB2354</string>
						<key>dateExpires</key>
						<string>2023/03/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>293G939DG3</string>
						<key>name</key>
						<string>Seunghyun Bae</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9D923059F05BF72D134F2E896222094A5ABB2354</string>
						<key>dateExpires</key>
						<string>2023/03/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GTMAppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>293G939DG3</string>
						<key>name</key>
						<string>Seunghyun Bae</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9D923059F05BF72D134F2E896222094A5ABB2354</string>
						<key>dateExpires</key>
						<string>2023/03/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>293G939DG3</string>
						<key>name</key>
						<string>Seunghyun Bae</string>
					</dict>
					<key>versionNumber</key>
					<string>1.7.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9D923059F05BF72D134F2E896222094A5ABB2354</string>
						<key>dateExpires</key>
						<string>2023/03/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>293G939DG3</string>
						<key>name</key>
						<string>Seunghyun Bae</string>
					</dict>
					<key>versionNumber</key>
					<string>9.1.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9D923059F05BF72D134F2E896222094A5ABB2354</string>
						<key>dateExpires</key>
						<string>2023/03/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>293G939DG3</string>
						<key>name</key>
						<string>Seunghyun Bae</string>
					</dict>
					<key>versionNumber</key>
					<string>7.7.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9D923059F05BF72D134F2E896222094A5ABB2354</string>
						<key>dateExpires</key>
						<string>2023/03/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>absl.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>293G939DG3</string>
						<key>name</key>
						<string>Seunghyun Bae</string>
					</dict>
					<key>versionNumber</key>
					<string>0.20200225.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9D923059F05BF72D134F2E896222094A5ABB2354</string>
						<key>dateExpires</key>
						<string>2023/03/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>293G939DG3</string>
						<key>name</key>
						<string>Seunghyun Bae</string>
					</dict>
					<key>versionNumber</key>
					<string>1.28.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9D923059F05BF72D134F2E896222094A5ABB2354</string>
						<key>dateExpires</key>
						<string>2023/03/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>grpcpp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>293G939DG3</string>
						<key>name</key>
						<string>Seunghyun Bae</string>
					</dict>
					<key>versionNumber</key>
					<string>1.28.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9D923059F05BF72D134F2E896222094A5ABB2354</string>
						<key>dateExpires</key>
						<string>2023/03/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>image_picker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>293G939DG3</string>
						<key>name</key>
						<string>Seunghyun Bae</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9D923059F05BF72D134F2E896222094A5ABB2354</string>
						<key>dateExpires</key>
						<string>2023/03/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>293G939DG3</string>
						<key>name</key>
						<string>Seunghyun Bae</string>
					</dict>
					<key>versionNumber</key>
					<string>1.22.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9D923059F05BF72D134F2E896222094A5ABB2354</string>
						<key>dateExpires</key>
						<string>2023/03/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>293G939DG3</string>
						<key>name</key>
						<string>Seunghyun Bae</string>
					</dict>
					<key>versionNumber</key>
					<string>2.30908.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9D923059F05BF72D134F2E896222094A5ABB2354</string>
						<key>dateExpires</key>
						<string>2023/03/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>openssl_grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>293G939DG3</string>
						<key>name</key>
						<string>Seunghyun Bae</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.7</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9D923059F05BF72D134F2E896222094A5ABB2354</string>
						<key>dateExpires</key>
						<string>2023/03/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>path_provider_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>293G939DG3</string>
						<key>name</key>
						<string>Seunghyun Bae</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9D923059F05BF72D134F2E896222094A5ABB2354</string>
						<key>dateExpires</key>
						<string>2023/03/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>293G939DG3</string>
						<key>name</key>
						<string>Seunghyun Bae</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9D923059F05BF72D134F2E896222094A5ABB2354</string>
						<key>dateExpires</key>
						<string>2023/03/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>sign_in_with_apple.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>293G939DG3</string>
						<key>name</key>
						<string>Seunghyun Bae</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9D923059F05BF72D134F2E896222094A5ABB2354</string>
						<key>dateExpires</key>
						<string>2023/03/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>sqflite.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>293G939DG3</string>
						<key>name</key>
						<string>Seunghyun Bae</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9D923059F05BF72D134F2E896222094A5ABB2354</string>
						<key>dateExpires</key>
						<string>2023/03/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>url_launcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>293G939DG3</string>
						<key>name</key>
						<string>Seunghyun Bae</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>293G939DG3.com.flutterflow.gifticano</string>
				<key>com.apple.developer.team-identifier</key>
				<string>293G939DG3</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>eb8181f0-9caf-47db-b0a4-24f4b26620ad</string>
				<key>dateExpires</key>
				<string>2023/03/27</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.flutterflow.gifticano</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>293G939DG3</string>
				<key>name</key>
				<string>Seunghyun Bae</string>
			</dict>
			<key>versionNumber</key>
			<string>1.2.1</string>
		</dict>
	</array>
</dict>
</plist>
